.navbar {
  background-color: #2A9D8F;
  padding: 25px;
  position: relative;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  transition: max-height 0.3s ease;
}

.navbar-list.open {
  display: flex;
}

.navbar-item {
  margin: 0;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
  position: relative;
}

.navbar-link:hover{
  color: #264653; /* Cor do texto no hover ou quando ativo */
  transform: translateX(5px);
}

/* Adiciona o efeito de hover à barra */
.navbar-link:hover + .stripe,
.navbar-link:focus + .stripe,
.navbar-link.active + .stripe {
  background: #264653; /* Cor da barra no hover ou ativo */
}

/* A barra deve seguir o link selecionado */
.stripe {
  height: 4px;
  background: #264653; /* Cor da barra */
  position: absolute;
  bottom: 0;
  transition: left 0.5s ease, width 0.5s ease;
}

/* Botão de menu para dispositivos móveis */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.menu-toggle-container {
  display: flex;
  align-items: center;
}

.menu-text {
  display: none; /* Esconde a palavra "Menu" por padrão */
  margin-top: 2%;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: white;
}

/* Título para dispositivos móveis */
.mobile-title {
  display: none; /* Escondido por padrão */
  font-size: 1.2rem;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 7px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-list {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    margin-top: 3%;
    transition: max-height 0.3s ease;
  }

  .navbar-list.open {
    max-height: 300px; /* Altura máxima para exibir o menu */
  }

  .navbar-item {
    margin-bottom: 1rem;
  }

  .navbar-link {
    font-size: 1.2rem;
  }

  .stripe {
    display: none; /* Esconde a barra em dispositivos móveis */
  }

  .menu-text {
    display: inline; /* Exibe a palavra "Menu" apenas em dispositivos móveis */
  }

  .mobile-title {
    display: inline-block; /* Exibe o título em telas menores */
  }
}
